name: Unit test and Lint
on:
  pull_request:
    branches:
      - master

jobs:
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@v6

      - name: Install OS packages
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            target
            ~/.cargo
          key: "ul-unit-test-${{ hashFiles('Cargo.lock') }}"
          restore-keys: |
            ul-unit-test-${{ hashFiles('Cargo.lock') }}
            ul-unit-test-
            ul-

      - name: Run unit test
        run: cargo test --workspace

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@v6

      - name: Install OS packages
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            target
            ~/.cargo
          key: "ul-clippy-${{ hashFiles('Cargo.lock') }}"
          restore-keys: |
            ul-clippy-${{ hashFiles('Cargo.lock') }}
            ul-clippy-
            ul-

      - name: Run Clippy
        run: |
          cargo fmt --check
          cargo clippy -- -D warnings

  cargo-deny:
    name: Cargo Deny
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@v6

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            target
            ~/.cargo
          key: "ul-cargo-deny-${{ hashFiles('Cargo.lock') }}"
          restore-keys: |
            ul-cargo-deny-${{ hashFiles('Cargo.lock') }}
            ul-cargo-deny-
            ul-

      - name: Install cargo-deny
        run: cargo install cargo-deny

      - name: Run Cargo Deny
        run: |
          cargo deny check
